<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
	<channel>
		<title>Silver Fiddle Power</title>
		<description>Daily Power for Silver Fiddle Ranch</description>
		<link><%= @rssUrl %></link>
		<language>en-US</language>
      	<% 	dayIdx = 0; 
      		while (dayIdx < @daysToDisplay) do;
    	 		day = @dayLabel[dayIdx]
    			dayRfc822 = @rfc822Label[dayIdx]
    			guid = @guids[dayIdx]
    			description = @descriptions[dayIdx]
		%>
		<item>
			<title>Data for <%= day %></title>
			<pubDate><%= dayRfc822 %></pubDate>
			<guid><%= guid %></guid>
			<link><%= guid %></link>
			<description><%= description %></description>
		</item>
		<% 	dayIdx = dayIdx + 1
			end %>
	</channel>
</rss>

