<h1>Listing day_hists</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @day_hists.each do |day_hist| %>
  <tr>
    <td><%= day_hist.day %></td>
    <td><%= mtu_to_string( day_hist.mtu ) %></td>
    <td><%= day_hist.watts %></td>
    <td><%= link_to 'Show', day_hist %></td>
    <td><%= link_to 'Edit', edit_day_hist_path(day_hist) %></td>
    <td><%= link_to 'Destroy', day_hist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @day_hist %>

<br />

<%= link_to 'New Day hist', new_day_hist_path %>
