<%= form_for(@ted_datum) do |f| %>
  <% if @ted_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ted_datum.errors.count, "error") %> prohibited this ted_datum from being saved:</h2>

      <ul>
      <% @ted_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mtu %><br />
    <%= f.text_field :mtu %>
  </div>
  <div class="field">
    <%= f.label :mtype %><br />
    <%= f.text_field :mtype %>
  </div>
  <div class="field">
    <%= f.label :cumtime %><br />
    <%= f.datetime_select :cumtime %>
  </div>
  <div class="field">
    <%= f.label :watts %><br />
    <%= f.number_field :watts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
