<p id="notice"><%= notice %></p>

<p>
  <b>Mtu:</b>
  <%= @ted_datum.mtu %>
</p>

<p>
  <b>Mtype:</b>
  <%= @ted_datum.mtype %>
</p>

<p>
  <b>Cumtime:</b>
  <%= @ted_datum.cumtime %>
</p>

<p>
  <b>Watts:</b>
  <%= @ted_datum.watts %>
</p>


<%= link_to 'Edit', edit_ted_datum_path(@ted_datum) %> |
<%= link_to 'Back', ted_data_path %>
