<h1>Power by Day</h1>

<table class=table style="width:80%">
  <tr>
    <th>Day</th>
    <th>Pgewatts</th>
    <th>Solarwatts</th>
    <th>Waterwatts</th>
	<% if user_signed_in? %>
	    <th>Operations</th>
	<% end %>
  </tr>

<% @day_powers.each do |day_power| %>
  <tr>
    <td><%= day_power.day %></td>
    <td><%= day_power.pgeWatts %></td>
    <td><%= day_power.solarWatts %></td>
    <td><%= day_power.waterWatts %></td>
	<% if user_signed_in? %>
	    <td><%= link_to 'Destroy', day_power, method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @day_hists, :renderer => BootstrapPagination::Rails %>

